@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800;900');

/* Utilities */
.twitch:hover {
  color: #6441a5;
}

.linktree:hover {
  color: #40e09e;
}

.linkedin:hover {
  color: #0a66c2;
}

.github:hover {
  color: #333;
}

