@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900');

*::selection {
  @apply bg-primary text-white dark:bg-secondary/75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headings;
}

textarea,
input[type='tel'],
input[type='text'],
input[type='email'],
input[type='search'] {
  @apply w-full rounded border border-white bg-white text-sm font-normal placeholder:font-normal
  placeholder:text-gray-400 focus:border-teal-600 focus:accent-teal-600 
  focus:ring-teal-600 focus:ring-offset-0 dark:border-white/10 dark:bg-white/10 dark:focus:border-teal-500;
}

input[type='checkbox'] {
  @apply rounded border-2 border-transparent bg-white font-normal text-teal-600 shadow focus:border-teal-600 
  focus:ring-teal-600 dark:text-teal-500 dark:focus:border-teal-500 dark:focus:ring-teal-500;
}

.twitch:hover {
  color: #6441a5;
}

.linktree:hover {
  color: #40e09e;
}

.linkedin:hover {
  color: #0a66c2;
}

.github:hover {
  color: #333;
}
