/* Background */
.blob,
.dark .blob {
  @apply fixed right-[25%] top-0 z-[-1] h-screen w-[60%] translate-y-[30%] rotate-180 blur-[200px] transition md:w-[50%];
}

.blob {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #88d2fa 0deg,
    #21a4dc 133.12deg,
    #64a5e1 208.13deg,
    #b9b3fe 360deg
  );
}

.dark .blob {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #25729c 0deg,
    #21a4dc 133.12deg,
    #64a5e1 208.13deg,
    #b9b3fe 360deg
  );
}

/* Twitch */
.twitch {
  color: #6441a5b0;
}

.dark .twitch {
  color: #6441a5c0;
}

.twitch:hover {
  color: #6441a5;
}

/* Twitter */
.twitter {
  color: #1da1f2b0;
}

.dark .twitter {
  color: #1da1f2c0;
}

.twitter:hover {
  color: #1da1f2;
}

/* Youtube */
.youtube {
  color: #ff0000b0;
}

.dark .youtube {
  color: #ff0000c0;
}

.youtube:hover {
  color: #ff0000;
}

/* Linktree */
.linktree {
  color: #40e09eb0;
}

.dark .linktree {
  color: #40e09ec0;
}

.linktree:hover {
  color: #40e09e;
}

/* Github */
.github {
  color: #333333b0;
}

.github:hover {
  color: #333333;
}

.dark .github {
  color: #333333c0;
}

.dark .github:hover {
  color: #333333;
}
